# Clean data

In [60]:
import pandas as pd

In [61]:
df_hotel = pd.read_csv("../data/hotel/hotel.csv")
df_ship = pd.read_csv("../data/ship/ship.csv")

In [62]:
df_hotel.drop(['hotel_features', 'short_description', 'long_description'], axis=1, inplace=True)
df_hotel.rename(columns={'admin': 'company_name'}, inplace=True)

In [63]:
df_ship.drop(['ship_features', 'short_description', 'long_description'], axis=1, inplace=True)
df_ship.rename(columns={'admin': 'company_name'}, inplace=True)

# Add company_id to hotel, ship

In [64]:
distinct_hotel_companies = df_hotel['company_name'].dropna().unique()
df_company = pd.DataFrame(distinct_hotel_companies, columns=['company_name'])
df_company['company_id'] = range(1, len(df_company) + 1)

In [65]:
distinct_ship_companies = df_ship['company_name'].dropna().unique()
df_ship_company = pd.DataFrame(distinct_ship_companies, columns=['company_name'])
df_company = pd.concat([df_company, df_ship_company], ignore_index=True)
df_company = df_company.drop_duplicates(subset=['company_name']).reset_index(drop=True)
df_company['company_id'] = range(1, len(df_company) + 1)
df_company = df_company[['company_id'] + [col for col in df_company.columns if col != 'company_id']]

In [66]:
df_hotel = df_hotel.merge(df_company[['company_id', 'company_name']], how="left", on="company_name")
df_ship = df_ship.merge(df_company[['company_id', 'company_name']], how="left", on="company_name")

df_ship['company_id'] = df_ship['company_id'].fillna(0).astype(int)

In [67]:
df_hotel.to_csv("../final_data/hotel/hotel.csv", index=False, encoding="utf-8")
df_ship.to_csv("../final_data/ship/ship.csv", index=False, encoding="utf-8")

In [68]:
df_company['username'] = 'company' + df_company['company_id'].astype(str)
df_company['password'] = '123456'
df_company['role'] = 'company'

In [69]:
df_company.to_csv("../final_data/company.csv", index=False, encoding="utf-8")

# Feature

In [70]:
df_feature = pd.read_csv("../data/feature.csv")

In [71]:
df_feature.drop(['default_id'], axis=1, inplace=True)

In [72]:
df_feature.to_csv("../final_data/feature.csv", index=False, encoding="utf-8")

In [73]:
df_ship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ship_id       71 non-null     int64
 1   ship_name     71 non-null     object
 2   launch        71 non-null     int64
 3   cabin         71 non-null     int64
 4   shell         71 non-null     object
 5   trip          71 non-null     object
 6   company_name  65 non-null     object
 7   ship_price    71 non-null     int64
 8   address       71 non-null     object
 9   map_link      71 non-null     object
 10  company_id    71 non-null     int64
dtypes: int64(5), object(6)
memory usage: 6.2+ KB